{
"headless: true,dump.io: true,
  "defaultViewport: { width: 1200, height:  600 },  args:  [ window size =1200,
  600 ,"  autoplay-policy, user-gesture required,disable-background-networking,disable-background-timer-throttling, disable-backgrounding-occluded-windows, -breakpad,enable client-side-phishing-detection, enable -component-update, disable-default-apps, disable-dev-shm-usage,disable-domain-reliability, [enable] or [disable]extensions, disable-features=AudioServiceOutOfProcess,disable-hang-monitor,enable-ipc-flooding-protection,  enable-notifications,
    "disable-offer-store-unmasked-wallet-cards, enable-popup-blocking,ENABLE PRINT PREVIEW,-prompt-on-repost, disable-renderer-backgrounding,[option]setupidsandbox[enable][disable],-disable-speech-api", "[disable][enable] sync ,scrollbars,}
